@mixin mQ($arg...) {
  @if length($arg)==2 {
      @media screen and (min-width: nth($arg, 1)) and (max-width: nth($arg, 2)) {
          @content;
      }
  }

  @else {
      @media screen and (max-width: nth($arg, 1)) {
          @content;
      }
  }
}

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 98vw;
  margin: 0 auto;
  height: 70px;
  padding: 0 30px;
  @include mQ('415px') {
    padding: 2px 5px;
    width: 100vw;
  }
}

.no-color {
  color: unset;
}
.logo {
  width: 210px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  &-image{
    width: 50px;
  }
  &-name {
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    .title {
      font-family: 'Public Sans', sans-serif;
      font-weight: 700;
      font-size: 22px;
      span {
        color: #6f4e37;
      }
    }
    .sub-title {
      font-family: 'Public Sans', sans-serif;
      font-weight: 400;
      font-size: 12px;
      align-self: flex-end;
    }
  }
}

nav{
  width: 50%;
}
.nav {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  @include mQ('415px') {
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
  }
  #menu {
    display: none;
    @include mQ('415px'){
      display: inline;
      width: 40px;
    }
  }
  &-list {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
      width: 100%;
    @include mQ('415px') {
      display: none;
    }
    &-mobile {
      display: flex;
      flex-direction: column;
      margin-top: 15px;
      position: absolute;
      justify-content: flex-start;
      align-items: flex-end;
      padding: 0;
      top: 55px;
      right: 0;
    }
  }
}

.list-items {
  font-size: 12px;
  font-weight: 600;
  font-family: 'Public Sans', sans-serif;
  text-transform: uppercase;
  a {
    color: #6f4e37;
    &:hover {
      color: #c8ad90;
    }
  }
  .active {
    color: #3b2f2f;
  }
  @include mQ('415px') {
    width: 200px;
  }
}
