@mixin flexBox ($dir: column, $aitem: center, $jsc: space-around) {
  display: flex;
  flex-direction: $dir;
  justify-content: $jsc;
  align-items: $aitem;
}

@mixin mQ($arg...) {
  @if length($arg)==2 {
      @media screen and (min-width: nth($arg, 1)) and (max-width: nth($arg, 2)) {
          @content;
      }
  }

  @else {
      @media screen and (max-width: nth($arg, 1)) {
          @content;
      }
  }
}

.shadow {
  box-shadow: 2px 2px 5px #ccc;
}

.rounded {
  border-radius: 12px;
}

.player {
  width: 80vw;
  margin: 0 auto;
  padding: 18px;
  @include flexBox();
  &-section {
    @include flexBox($dir: row);
    @include mQ('200px', '550px') {
      @include flexBox($dir: column);
    }
    width: 100%;
  }
  &-controls {
    @include flexBox($jsc: space-around);
    border: 1px solid #6f4e37;
    align-self: stretch;
    width: 60%;
    margin: 12px;
    padding: 12px;
    @extend .shadow;
    @extend .rounded;
    @include mQ('200px', '500px'){
      width: 90%;
    }
  }
  &-control {
    width: 100%;
    @include flexBox($dir: row, $jsc: space-around);
    button {
      height: 31px;
      width: 41px;
      border: 0;
      margin: 12px;
      @extend .shadow
    }
    fa-icon{
      color: red;
    }
  }

}

.thumbnail {
  width: 234px;
  @extend .shadow;
  @extend .rounded;
}

.buffered {
  height: 20px;
  position: relative;
  background: #555;
  width: 300px;
  @include mQ('200px', '500px') {
    width: 90%;
  }
}

#buffered-amount {
  display: block;
  height: 100%;
  background-color: #ccc;
  width: 0;
}

#seeker {
  display: block;
}

.seek {
  margin-top: 12px;
}

.progress {
  margin-top: -20px;
  height: 20px;
  position: relative;
  width: 300px;
  @include mQ('200px', '500px'){
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: none;
  }
}

#progress-amount {
  display: block;
  height: 100%;
  background-color: #595;
  width: 0;
}
