<article>
  <ul class="list">
    <li class="list-group" *ngFor="let item of episodes$ | async">
        <h4>{{ item.title }}</h4>
        <section class="container">
          <div class="row" (click)="sendEpisode(item)">
            <img [src]="item.thumbnail" class="row-image" [alt]="item.title">
          </div>
          <div class="row">
            <div>
              <audio controls>
                <source [src]="item.enclosure.link" [type]="item.enclosure.type">
                <p>Your browser doesn't support HTML5 audio. Here is a <a [href]="item.enclosure.link">link to the
                    audio</a> instead.</p>
              </audio>
            </div>
            <div [innerHTML]="item.description">
            </div>
          </div>
        </section>
    </li>
  </ul>
</article>
