@mixin flexBox ($dir: column, $aitem: center, $jsc: space-around) {
  display: flex;
  flex-direction: $dir;
  justify-content: $jsc;
  align-items: $aitem;
}

.shadow {
  box-shadow: 0px 0px 2px #ccc;
}

.rounded {
  border-radius: 6px;
}

article {
  width: 95vw;
}

.list {
  list-style: none;
  @include flexBox($aitem: flex-start);
  width: 75%;
  margin: 0 auto;
  &-group {
    h4 {
      font-variant: small-caps;
      letter-spacing: 3px;
    }
    @include flexBox();
    width: 100%;
    padding: 20px;
    margin: 21px auto;
  }
}

.subtitle {
  color: #333;
  font-weight: 400;
  line-height: 23px;
  font-size: 16px;
  margin-bottom: 21px;
}

.container {
  @include flexBox($dir: row);
  width: 100%;
}

.row {
  @include flexBox();
  width: 70%;
  &-image {
    width: 200px;
    @extend .shadow;
    @extend .rounded;
  }
  line-height: 25px;
 }

