/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Public+Sans&display=swap');
@mixin mQ($arg...) {
  @if length($arg)==2 {
      @media screen and (min-width: nth($arg, 1)) and (max-width: nth($arg, 2)) {
          @content;
      }
  }

  @else {
      @media screen and (min-width: nth($arg, 1)) {
          @content;
      }
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
