<app-header></app-header>
<main class="main">
  <section class="topside">
    <div class="albumart">
      <img src="/assets/mine.jpg" class="albumart-image rounded shadow" alt="Art Album">
    </div>
    <div class="intro">
      <h2>{{(Podcast | async)?.author}} <small>The Host</small></h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi asperiores laboriosam sed. Ipsum, aliquam, nam eum labore, sint nemo fugiat corporis praesentium tempora corrupti quam perferendis nisi tempore quo. Officiis.
      </p>
      <ng-container *ngIf="trailer$ | async as trailer">
        <audio controls>
          <source [src]="trailer?.enclosure.link" [type]="trailer?.enclosure.type">
          <p>Your browser doesn't support HTML5 audio. Here is a <a [href]="trailer?.enclosure.link">link to the
              audio</a> instead.</p>
        </audio>
      </ng-container>
      
    </div>
  </section>
  <section class="list-tabs">
    <ul>
      <li>
        <a [routerLink]="[ '/episodes' ]" routerLinkActive="active">Episodes</a>
      </li>
      <li>
        <a [routerLink]="[ '/book-review' ]" routerLinkActive="active">Book Reviews</a>
      </li>
      <li>
        <a [routerLink]="[ '/tech-talk' ]" routerLinkActive="active">Tech Talks</a>
      </li>
    </ul>
  </section>
  <router-outlet></router-outlet>
</main>
<app-footer></app-footer>
