<app-header></app-header>
<main class="main">
  <section class="topside">
    <div class="albumart">
      <img src="/assets/mine.jpg" class="albumart-image rounded shadow" alt="Art Album">
    </div>
    <div class="intro">
      <h2>Hassan Sani <small>The Host</small></h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi asperiores laboriosam sed. Ipsum, aliquam, nam eum labore, sint nemo fugiat corporis praesentium tempora corrupti quam perferendis nisi tempore quo. Officiis.
      </p>
      <span>trailer</span>
    </div>
  </section>
  <section class="list-tabs">
    <ul>
      <li>Episodes</li>
      <li>Book Reviews</li>
      <li>Tech Talks</li>
    </ul>
  </section>
  <router-outlet></router-outlet>
</main>
